.container{
    --font-size: 20px;

    border: 1px solid var(--color1); 
    width: fit-content;
    max-width: 95vw;
    margin: auto;
    margin-top: 20px;

    border-radius: 10px;
    overflow: hidden;
}

.heading{
    background-color: var(--color2);
    font-size: var(--font-size);
}

.table{ 
    /* height: 100%; */
    /* width: 100%; */
    border-collapse: collapse;

    table-layout: fixed;
    table-layout: auto;

    max-width: 95vw;
    width: fit-content;
}

.table td{
    border: 1px solid var(--color1);
    text-align: center;
    padding: 5px 10px;
    width: 55px;
}

.table th{
    border: 1px solid var(--color1);
    padding: 5px 10px;
}



.table tbody tr:nth-last-of-type(1) > *{
    /* background-color: red !important; */
    border-bottom: 1px solid transparent !important;
}

.table tbody tr td:nth-last-of-type(1){
    border-right: 1px solid transparent!important;

}
.table thead tr th:nth-last-of-type(1) {
    /* background-color: red !important; */
    border-right: 1px solid var(--color2) !important;
}

.table tbody tr td:nth-of-type(1){
    border-left: 1px solid transparent !important;
}
.table thead tr th:nth-of-type(1) {
    /* background-color: red !important; */
    border-left: 1px solid var(--color2) !important;
}
.table tbody tr th:nth-of-type(1) {
    /* background-color: red !important; */
    border-left: 1px solid transparent !important;
}

.table thead tr th{
    /* background-color: red !important; */
    border-top: 1px solid var(--color2) !important;
}


.cross{
    font-size: var(--font-size);
}

.tick{
    font-size: calc(var(--font-size) * 1.1);
}


