CLIENT_BASE=https://action-list-v3-maxsivian.vercel.app
# CLIENT_BASE=http://localhost:5173

HOST=localhost
PORT=3001
JWT_SECRET=


GOOGLE_CLIENT_ID=524571108439-m04r1ppk6auotku1gek7di7bvkbnv20f.apps.googleusercontent.com
EMAIL_TRANSPORTER_USER=maxsivian.legend@gmail.com
EMAIL_TRANSPORTER_PASS=""


# MONGODB_URI=mongodb://127.0.0.1:27017/
MONGODB_URI=
